/* Resetting Margin and Padding */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body , html {
    background-color: rgb(253, 243, 243);
    overflow-x: hidden;
}

/* anchor tags */
a {
    text-decoration: none;
    /* color: white; */
}


/* logo starts here  */
.logo {
    height: 60px;
    width: 100px
}
/* logo ends here */


/* CSS for Navigation Bar starts here */
ul {
    list-style: none ;
}

.nav-links{
    display: flex;
    align-items: center;
}

.nav-links li{
    margin: 0px 30px ;
}

.navbar {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    color: whitesmoke;
}

.active {
    color: crimson;
    text-decoration: underline;
    font-weight: bold;
}

.menu_btn {
    display: none;
}
/* CSS for Navigation Bar ends here */


/* Header Portion Starts Here */
header{
    height: 100vh;
    width: 100vw;
    background-image: url(images/bg11.jpg) ;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.header_content{
    margin-bottom: 150px;
    color: whitesmoke;
    text-align: center;
    
}

/* by adding vmin text size becomes responsive */

.header_content h2 {
    font-family: 'Fuzzy Bubbles', cursive;
    font-size: 4vmin;
}

.line {
    width: 100px;
    height: 3px;
    background-color: crimson;
    margin: 10px auto;
    border-radius: 5px;
}

.header_content h1 {
    margin-top: 60px;
    margin-bottom: 20px;
    font-size: 9vmin;
    font-family: 'Josefin Sans', sans-serif;
}


/* Learn More Button */
.btn {
    font-family: Arial, Helvetica, sans-serif;
    background-color: crimson;
    margin-top: 20px;
    padding: 10px 15px;
    border-radius: 20px;
    color: whitesmoke;
}

/* Learn More Button Ends */


/* CSS for events section starts here */
section{
    /* background-color: cyan; */
    width: 80%;
    margin: 30px auto;
}

.title{
    text-align: center;
    font-size: 4vmin;
}

.title h1 {
    font-size: 7vmin;
    font-weight: bold;
    font-family: 'Josefin Sans', sans-serif;
}

.title .line {
    width: 20%;
}

.row {
    /* background-color: darkcyan; */
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.row .col {
    margin: 20px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.row .col img {
    width: 70vh;
    height: 45vh;
    border-radius: 5%;
}

.events .row .col img {
    box-shadow: 0px 0px 15px 2px grey;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 4vmin;
    margin: 10px auto;
}
.col p {
    font-family: 'Fuzzy Bubbles', cursive;
    /* font-weight: bold; */
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 60px auto;
}

.col .btn {
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
}
/* CSS for events section ends here */


/* CSS for Explore section starts here  */
.explore {
    width: 100%;
    height: 100vh;
    background-image: url(images/bg3.jpg) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100vh;
    display: flex;
    align-items: center;
    /* text-align: center; */
    color: whitesmoke;
}
.explore {
    margin-bottom: 0px;
}
.explore_content {
    width: 60%;
    padding: 70px;
    display: flex;
    flex-direction: column;
}

.explore_content h1{
    font-size: 7vmin;
    /* margin-bottom: 20px; */
    font-family: 'Josefin Sans', sans-serif;
}

.explore_content .line {
    margin-bottom: 50px;
    margin-left: 0px;
    width: 35%;
    height: .7vmin;
}

.explore_content p {
    font-size: 3vmin;
    font-family: 'Fuzzy Bubbles', cursive;
}

.explore_content .btn {
    width: 20%;
    text-align: center;
}
/* CSS for Explore section ends here  */


/* CSS for Upcoming Tours Section Starts here  */
.content_col h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 7vmin;
    margin-left: 8px;
    text-align: left;
}

.content_col .line {
    width: 50%;
    height: 0.7vmin;
    margin-left: 30px;
    margin-bottom: 30px;
}
.content_col p {
    font-size: 3vmin;
    font-family: 'Fuzzy Bubbles', cursive;
    margin-bottom: 30px;
    text-align: left;
    margin-left: 30px;
}

.tours {
    width: 100%;
    padding-top: 50px;
    margin-top: 0px;
    margin-bottom: 60px;
}

.tours .row .col {
    margin-top: 20px;
    /* background-color: cyan; */
    width: 50%;
}

.tours .row .image_col {
    /* background-color: darkgoldenrod; */
    width: 50%;
}
.tours .image_gallery {
    /* background-color: rgb(241, 13, 51); */
    display: flex;
    flex-wrap: wrap;
}

.image_gallery{
    /* background-color: crimson; */
    width: 700px;
}

.tours .row .image_gallery img{
    width: 40vh;
    height: 40vh;
    margin: 10px;
    /* padding: 5px; */
    border-radius: 3%;
    box-shadow: 0px 0px 10px 5px darkgray;
}
/* CSS for Upcoming Tours Section Ends here  */


/* CSS for Footer Section starts here */
.footer {
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vmin;
    background-color: rgb(49, 49, 49);
    margin-bottom: 0px;
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    width: 100%;
    height: 200px;
}

.p1 {
    margin-bottom: 20px;
}
.p2 {
    margin-bottom: 20px;
}
.p3 {
    margin-bottom: 20px;
}

/* CSS for Footer Section ends here */


